<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- TV opcional; não exigimos touchscreen -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false"
        android:extractNativeLibs="false"
        android:theme="@style/Theme.IBOPlus">

        <!-- Splash é o launcher -->
        <activity
            android:name="com.iboplus.app.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.IBOPlus.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home (só background por enquanto) -->
        <activity
            android:name="com.iboplus.app.MainActivity"
            android:exported="false" />

    </application>
</manifest>
